@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 80px;
    z-index: 1;
}

nav ul {
    display: flex;
    flex-grow: 5;
    justify-content: flex-end;
}

nav li {
    list-style-type: none;
    margin: 0 20px;
}

nav li a {
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color: #525666;
}

nav li a:hover {
    color: #007bfc;
}

main {
    margin-top: 80px;
    overflow: auto;
}

main h2 {
    font-size: 3em;
}

main h3 {
    font-size: 2em;
}

main p {
    font-size: 1em;
}

#home {
    color: #fff;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg,#021048,#1e38a3);
    text-align: center;
}

section ul {
    text-align: left;
}

#feature {
    background: url('../image/server.jpg');
    background-repeat: repeat-y;
    background-size: 50% 100%;
    background-position: right 20%;
    color: #142149;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


#pricing {
    background: linear-gradient(90deg,#021048,#1e38a3);
    color: #fff;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#contact {
    background: #fff;
    color: #142149;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.biodata p {
    font-weight: bold;
}

img.avatar {
    border-radius: 50%;
    width: 50%;
}

.card-container {
    display: flex;
    margin: 20px 0;
}

.card {
    cursor: pointer;
    background: #fff;
    color: #142149;
    flex-grow: 1;
    flex-basis: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    transition: all 0.5s;
    top: 0;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.85);
    top: -8px;
    position: relative;
}

.card .number {
    color: #2f1c6a;
    font-size: 1.2em;
    font-weight: bold;
}

.card ul {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}

.form-contact {
    min-height: 250px;
}

.form-contact div {
    margin: 5px 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.btn-submit {
    background-color: #1e38a3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.btn-submit:hover {
    background-color: #071349;
}

footer {
    background: #0f1c2f;
    color: #fff;
    text-align: center;
    padding: 10px 40px;
}

.mobile-btn {
    display: none;
}

@media screen and (max-width: 600px) {
    .card-container {
        display: block;
    }

    .card {
        margin: 15px 0;    
        width: 70vw;
        min-height: 250px;
    }
    .card ul {
        display: inline-block;
    }

    nav {
        justify-content: space-between;
    }

    .mobile-btn {
        display: inline-block;
    }

    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        display: block;
        background-color: #FFF;
        width: 50vw;
        height: 100vh;
        z-index: 3;
        transform: translateX(300px);
        transition: all 200ms ease-in-out;
    }

    nav ul.nav-open {
        transform: translateX(0);
    }

    nav li {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 20px;
        border-bottom: 1px solid #e5e5e5;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.4);
        opacity: 0;
        z-index: -1;
        transition: opacity 100ms linear;
    }

    .overlay.open {
        z-index: 1;
        opacity: 1;
    }
}
